History/
ElevatedDiagnostics/
Citrix/
Comms/
ConnectedDevicesPlatform/
CrashDumps/
D3DSCache/
Diagnostics/
Google/
IsolatedStorage/
Jedi/
Microsoft/
Mozilla/
NBClipboard/
NuGet/
OneDrive/
Package Cache/
PackageManagement/
Packages/
PlaceholderTileLogoFolder/
Programs/
Publishers/
Rufus/
Sentry/
Temp*
Thunderbird/
ToastNotificationManagerCompat/
TrueConf/
VirtualStore/
Yandex/
Zotero/
cache/
npm-cache/
nvim-data/
nvim/plugin/
pip/
pylint/
speech/
AMD*
Obsidian/
clangd/
Application Data/
coc/
CMakeTools/
CEF/
.Identity*
Resmon*
GitExtensions/
Far Manager/
Cisco/
Coati Software/
Identity*
obsidian-updater/
audacity/
VsVim/
ServiceHub/
IconCache.db
