Citrix/
Comms/
ConnectedDevicesPlatform/
CrashDumps/
D3DSCache/
Diagnostics/
Google/
IsolatedStorage/
Jedi/
Microsoft/
Mozilla/
NBClipboard/
NuGet/
OneDrive/
Package Cache/
PackageManagement/
Packages/
PlaceholderTileLogoFolder/
Programs/
Publishers/
Rufus/
Sentry/
Temp/
Thunderbird/
ToastNotificationManagerCompat/
TrueConf/
VirtualStore/
Yandex/
Zotero/
cache/
npm-cache/
nvim-data/
nvim/plugin/
pip/
pylint/
speech/
IconCache.db
