[user]
  name = Dmitry Shirshov
  email = shirshov.da@phystech.edu

[core]
  autocrlf = true

[pull]
  rebase = true

[alias]
  x = restore
  a = add
  o = checkout
  b = branch
  bc = checkout -b
  bC = checkout -B
  br = branch --move
  bR = branch -M
  bd = branch --delete
  bD = branch -D
  s = status
  c = commit
  cm = commit -m
  ca = commit --amend
  p = push
  pf = push --force
  r = rebase
  ri = rebase --interactive
  rc = rebase --continue
  ra = rebase --abort
  d = diff
  f = fetch
  fa = fetch --all --prune
  u = submodule update --init --recursive
  adog = log --all --decorate --oneline --graph
  adogs = log --all --decorate --oneline --graph --stat
  l = adog
  ls = adogs
