$include /etc/inputrc

set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e\[2 q\2"
set vi-ins-mode-string "\1\e\[6 q\2"
set colored-stats on
set colored-completion-prefix on
set completion-ignore-case on
set completion-map-case on
set completion-query-items 100
set show-all-if-ambiguous on
set bind-tty-special-chars off
set keymap vi-command
set echo-control-characters off

"\C-k": history-search-backwards
"n": "in"
"ciw": "bce"
"diw": "bde"
"ciW": "BcE"
"diW": "BdE"
