p {
	color: white !important;
}

h1, h6 {
	color: #c3e88d !important;
}

h2, h2 > a, h3, h4, h5 {
	color: #82aaff !important;
}

.fgMZSc, .lLemC, .ckZfaK, .iOMWWM, .Markdown_markdown___3RCz > *, code:has(:not(>span)>mark) {
	color: white !important;
}

.cwojol:hover > button, .huculX {
	background-color: rgb(17, 25, 96) !important;
}

.eTwZk, .vSTjm, #footer > div {
	background: none !important;
}

.kvSlzI, button:has(>.whale), #fto, .efmMEH, .PulXX, .hCzvTM:has(>.bPXtdd), .XBdA-d, .container, .ipdvqu {
	display: none !important;
}

.eMBrsI, .sKCpw, .gIDDNX {
	background: rgb(30, 30, 30) !important;
}

.code-label, .note {
	background-color: rgb(17, 25, 96) !important;
	color: #82aaff !important;
}
