.g {
	background: none !important;
	margin: 0 !important;
}

a[jsname="UWckNb"]:focus > h3 {
	text-decoration: underline !important;
}

.ULSxyf {
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 0 !important;
}

.ULSxyf:has(a[jsname="UWckNb"]:focus) {
	background: rgba(255, 255, 255, 0.1) !important;
}
